.sectionTitleMain {
  padding: 8% 3% 4% 3%;
}

.sectionTitleDiv {
  padding: 0 0 0.4em 0;
  border-bottom: 1px solid #e0e0e0;
}

.sectionTitle {
  color: #696969;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
