.header {
  height: 18em;
  width: 100%;
  /* border: 1px solid black; */
  /* background-color: red; */
}

@media only screen and (min-width: 480px) {
  .header {
    height: 20em;
    /* border: 1px solid black; */
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 24em;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    /* border: 1px solid black; */
    height: 12em;
    padding: 0 7%;
    background-color: #fff;
    /* background-color: #f6cccd; */
    /* background-color: #f9e0e1; */
    background-color: #f7f7f7;
    background: url(./bg_header.png) repeat center top;
  }
}

@media only screen and (min-width: 1200px) {
}
